<ion-header class="no-shadow"></ion-header>

<ion-content fullscreen class="login-full-bg">
  <div class="login-card-wrapper">
    <div class="login-image-col">
      <img 
        src="https://img.icons8.com/ios-filled/100/000000/apple-camera.png" 
        alt="Logo de cámara" 
        class="login-illustration"
      />
    </div>

    <div class="login-form-col">
      <div class="login-card">
        <h2 class="login-title">
          <i class="fa fa-home icon-margin"></i>
          ¡Bienvenido a la página principal!
        </h2>

        <!-- INPUT Y BOTONES PARA EL NOMBRE -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombreUsuario"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="guardarNombre()" class="btn-spacing">
          <i class="fa fa-save icon-margin"></i>Guardar Nombre
        </ion-button>

        <ion-button expand="full" color="medium" (click)="leerNombre()" class="btn-spacing">
          <i class="fa fa-download icon-margin"></i>Leer Nombre
        </ion-button>

        <ion-button expand="full" color="danger" (click)="borrarNombre()" class="btn-spacing">
          <i class="fa fa-trash icon-margin"></i>Borrar Nombre
        </ion-button>
        <!-- FIN INPUT Y BOTONES -->

        <ion-button expand="full" color="danger" class="btn-spacing" (click)="logout()">
          <i class="fa fa-sign-out icon-margin"></i>Cerrar sesión
        </ion-button>

        <ion-button expand="full" color="primary" class="btn-spacing" (click)="tomarFoto()">
          <i class="fa fa-camera icon-margin"></i>Tomar Foto
        </ion-button>

        <div *ngIf="isOnline" class="status-msg online-msg">
          <i class="fa fa-wifi icon-margin"></i>¡Conectado a Internet!
        </div>
        <div *ngIf="!isOnline" class="status-msg offline-msg">
          <i class="fa fa-exclamation-triangle icon-margin"></i>Sin conexión a Internet
        </div>

        <!-- LISTA DE PERSONAJES -->
        <div *ngIf="personajes.length > 0" class="personajes-list">
          <h3>Personajes cargados:</h3>
          <ion-list>
            <ion-item *ngFor="let personaje of personajes">
              <ion-thumbnail slot="start">
                <img [src]="personaje.image" />
              </ion-thumbnail>
              <ion-label>
                <h2>{{ personaje.name }}</h2>
                <p>{{ personaje.species }} - {{ personaje.status }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>

  <ion-button expand="full" color="secondary" class="bottom-btn" (click)="cargarPersonajes()">
    <i class="fa fa-database icon-margin"></i>Cargar Personajes
  </ion-button>
</ion-content>
